<div>
  <img [src]="'assets/bestbuy.jpg'">
  <h1>Adequate Acquire</h1>
</div>
<mat-sidenav-container class="example-container">
    <mat-sidenav class="sidenav" mode="side" opened><nav>
      <a class="btn" [routerLink] = "['/home']">Home</a>
      <a class="btn" [routerLink] = "['/about']">About</a>
      <a class="btn" [routerLink] = "['/products']">Products</a>
    </nav></mat-sidenav>
    <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
</mat-sidenav-container>
<div class="footer">Adequate Acquire CEO - Jude Klassen</div>