.example-container {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
    min-height: 750px;
    display: flex;
    flex-direction: column;
}
.sidenav {
    background-color: #758AA8;
}
nav {
    display: flex;
    flex-direction: column;
}
a {
    margin: 20px;
    color: #eee;
}
div {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #758AA8;
}
h1 {
    display: flex;
    color: black;
    text-align: center;
    font-size: 900%;
    margin-left: 80px;
    
}
.footer {
    background-color: #758AA8;
    bottom: 0;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
}
