.inputCSS {
    display: block;
    margin: 20px;
}
label {
    margin-right: 10px;
}
.editForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    border-width: 10px;
    border-style: ridge;
    border-color: rgb(101, 101, 255);
    width: fit-content;
    padding: 20px;
    color: steelblue;
}
h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    border-width: 10px;
    border-style: ridge;
    border-color: rgb(101, 101, 255);
    width: fit-content;
    padding: 20px;
    color: steelblue;
}